{{id}}

<div class="row container-details">
  <div class="image col-md-9 col-sm-8">
    <span>
      <!-- <img src="this.props.item.item.picture" alt="this.props.item.item.title" /> -->
    </span>
    <div class="col-md-12 description-container">
      <span class="product-description">Descripción del producto</span>
      <p class="text-justify">"this.props.item.item.description"</p>
    </div>
  </div>
  <div class="details col-md-3 col-sm-4">
    <div>
      <span>"this.props.item.item.condition"</span> - <span>"this.props.item.item.sold_quantity" vendidos</span>
    </div>
    <div>
      <h5 class="title">"this.props.item.item.title"</h5>
    </div>
    <div>
      <h3 class="price">"this.props.item.item.price.amount"</h3>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
  </div>
</div>