<nav class="navbar navbar-expand-lg d-flex justify-content-center row">
  <a class="navbar-brand" (click)="goHome()"> </a>
  <form class="col-md-9" (submit)="search()" [formGroup]="searForm">
      <div class="">
          <div class="col-md-12 d-flex">
              <input formControlName="search"
                  type="text"
                  class="form-control"
                  placeholder="Nunca dejes de buscar"
                  autoFocus
              />
              <button type="submit" class="nav-search-btn">
              </button>
          </div>
      </div>
  </form>
</nav>