<nav class="navbar navbar-expand-lg d-flex justify-content-center row">
  <a class="navbar-brand" href="#"> </a>
  <form class="col-md-9">
      <div class="">
          <div class="col-md-12 d-flex">
              <input
                  type="text"
                  class="form-control"
                  placeholder="Nunca dejes de buscar"
                  autoFocus
              />
              <button type="submit" class="nav-search-btn">
              </button>
          </div>
      </div>
  </form>
</nav>